html {
    font-family: serif;
    font-size: 2vw;
    color: #222;
    background-color: #fffeff;
}

body {
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.container-flex {
    display: flex;
}

.container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1rem 3rem;
    margin: 0 2rem;
}

.header {
    font-size: 1.3rem;
}

.intro {
    /* width: 80%; */
    margin-right: 0;
    border-right: 0;
}

.image {
    max-width: 100%;
    height: auto;
}

.text-content {
    padding: 1rem;
}